name: Deploy to GCP

on:
  repository_dispatch:
    types: [new-image]
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Tag de l'image à déployer"
        required: false
        default: "latest"

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # - name: Set image tag
      #   id: vars
      #   run: |
      #     if [ "${{ github.event_name }}" = "repository_dispatch" ]; then
      #       TAG="${{ github.event.client_payload.tag }}"
      #     else
      #       TAG="${{ github.event.inputs.image_tag || 'latest' }}"
      #     fi
      #     echo "image_tag=${TAG:-latest}" >> $GITHUB_OUTPUT
      #     echo "Deploying image tag: ${TAG:-latest}"

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Setup gcloud CLI
        uses: google-github-actions/setup-gcloud@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init

      - name: Terraform Plan
        working-directory: ./terraform
        run: terraform plan
        env:
          TF_VAR_project_id: ${{ secrets.GCP_PROJECT_ID }}
          # TF_VAR_app_image_tag: ${{ steps.vars.outputs.image_tag }}

      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform apply -auto-approve
        env:
          TF_VAR_project_id: ${{ secrets.GCP_PROJECT_ID }}
          # TF_VAR_app_image_tag: ${{ steps.vars.outputs.image_tag }}

      - name: Force redeploy on VM
        run: |
          gcloud compute instances add-metadata app-server-vm \
            --zone=europe-west1-b \
            --metadata=deploy-timestamp=$(date +%s)

          gcloud compute ssh ubuntu@app-server-vm \
            --zone=europe-west1-b \
            --command="sudo bash /var/run/google_metadata_script_runner/startup-script" \
            --ssh-key-expire-after=60s \
            -- -o StrictHostKeyChecking=no